body{
	font-family:'Roboto',Sans-serif!important;
	background: #fff;
}

nav{
	background: #4493F4;
	padding: 30px 0;
}
.btn{
	border-radius: 50px;
	padding: 10px 30px;
	font-weight: 500;
	text-transform: uppercase;
}
.primary{
	border: 2px solid #4493F4;
	background:#fff;
	color:#4493F4;
}
.primary:hover{
	background: #4493F4;
	color: #ffffff;
}

.logo{
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
	margin:0px;
	font-size: 20px;
}

.blog-title{
	font-weight: 600;
	color: #555;
	font-size: 30px;
}

.paragraph{
	font-size: 14px;
	text-align: justify;
	font-weight: 400;
	line-height: 27px;
}
 .muted{
   color: #888;
   font-weight: 500;
 }


.links{
}
 .pagination {
 	background:#fff;
	float: right;

 }

 .page-link{
 	border: 2px solid #EEE;
 	border-radius: 50%;
 	background: #eee;
 	font-weight: bold;
 	margin-left: 20px;
 }
.page-item:last-child .page-link{
	border-radius: 5px;
 	background: #fff;
 	font-weight: bold;
 	margin-left: 20px;
 	color: transparent;
 	border: 2px solid #fff;
}
.page-item:last-child .page-link::after{
	content: 'Next';
	color: rgb(68, 134, 244);
	margin-right: 6px; 
}

 .page-item:first-child .page-link {
    display: none;
    margin: 0px;
}
 .page-link:hover{
 	background: rgb(68, 134, 244);
 	border: 2px solid rgb(68, 134, 244);
 	color: #fff;
 }
  li.disabled{
 	display: none;
 } 